.card {
    margin-bottom: 8px;
}

.centered {
    margin: 150px auto !important;
    float: none !important;
}

.p{
    font-size: 20px;
}

.btn{
    background-color: #FF4500;
    border-color: #FF4500;
    color: #ffffff;
}

.text-center{
    margin: 200px auto !important;
}