<!--Barra de navegação-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['/']" class="navbar-brand navbar__link">AUBNB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="isLogged" [routerLink]="[hosting]" class="nav-link navbar__link">Hospedagem</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLogged" [routerLink]="[order]" class="nav-link navbar__link">Pedidos</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLogged" [routerLink]="[help]" class="nav-link navbar__link">Ajuda</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <li class="active">
        <a *ngIf="isLogged" [routerLink]="[hostingCreate]" class="nav-link navbar__link">Quero ser cuidador</a>
      </li>
      <li class="active">
        <a *ngIf="isLogged" [routerLink]="[profile]" class="nav-link navbar__link">Perfil</a>
      </li>
      <li class="active">
        <a [routerLink]="[login]" class="nav-link navbar__link" (click)="onClick()">{{ loginText }}</a>
      </li>
    </ul>
  </div>

</nav>
