
.img {
    width: 280px;
    height: 280px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centered {
    margin: 130px auto !important;
    float: none !important;
    padding-left: 15px;
    padding-bottom: 15px;
}

.btn {
    background-color: #FF4500;
    color: #ffffff;
    width: 125px;
    float: right;
}